<ion-content class="dashboard">
  <div class="layout">
    <!-- Menú lateral -->
    <div class="sidebar">
      <h2>Menu</h2>
      <ion-button expand="block" (click)="mostrar('visualizar')">Visualizar Pacientes</ion-button>
      <ion-button expand="block" (click)="mostrar('asignar')">Asignar Horarios</ion-button>
    </div>

    <!-- Contenido dinámico -->
    <div class="main-content">
      <ng-container [ngSwitch]="currentView">
        <div *ngSwitchCase="'welcome'" class="welcome">
          <h1>Bienvenido al Panel Administrativo</h1>
          <p>Seleccione una opción en el menú</p>
        </div>

        <app-asignar *ngSwitchCase="'asignar'"></app-asignar>
        <app-visualizar *ngSwitchCase="'visualizar'"></app-visualizar>
      </ng-container>
    </div>
  </div>
</ion-content>